<h1>Fitbit API Results</h1>
<p>Full Name: <%= @user['fullName'] %></p>
<p>Birthday: <%= @user['dateOfBirth'] %></p>
<% @weight.each do |rec| %>
  <p>[ <%= rec['date'] %> ]    Weight: <%= rec['weight'] * 2.2 %></p>
<% end %>
